n8n/workflows/workshop-exemplo-basico.json
{
  "name": "Workshop - Exemplo Básico WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "workshop-webhook",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "workshop-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.message.messageType}}",
              "operation": "equal",
              "value2": "textMessage"
            }
          ]
        }
      },
      "id": "b2c3d4e5-f6g7-8901-bcde-f23456789012",
      "name": "É mensagem de texto?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://evolution-api:8080/message/sendText/workshop-instance",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "workshop-evolution-key"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{$json.key.remoteJid}}"
            },
            {
              "name": "text",
              "value": "Olá! Recebi sua mensagem: {{$json.message.conversation}}"
            }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-g7h8-9012-cdef-345678901234",
      "name": "Responder mensagem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        200
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "É mensagem de texto?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É mensagem de texto?": {
      "main": [
        [
          {
            "node": "Responder mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "12345678-1234-1234-1234-123456789012",
  "id": "workshop-basico",
  "meta": {
    "instanceId": "workshop-instance"
  },
  "tags": []
}
